.contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_content h2 {
  font-size: clamp(36px, 3vw, 60px);
}

.contact_content p {
  text-align: center;
  font-size: clamp(17px, 2vw, 20px);
  margin: 0 0 40px 0;
  max-width: 580px;
  padding: 0 20px;
}

.contact_btn {
  text-align: center;
}

.contact_btn a {
  display: inline-block;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
}
