nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 3%;
  font-size: 1rem;
  position: fixed;
  top: 0;
  z-index: 98;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 10px 30px -10px rgb(218, 216, 216);
  transition: top 0.3s;
}

#logo {
  font-size: 1.3em;
  cursor: pointer;
}

nav ul {
  display: flex;
  font-size: 0.94em;
}

nav ul li {
  margin-left: 35px;
}

.active {
  color: red;
}

#resume_btn {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
}

#resume_btn:hover {
  background-color: rgba(27, 27, 27, 0.1);
}

#menu_bar {
  font-size: 1.7em;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 20px;
  }
}
